<h1>Developer Help Screen</h1>

<%= Time.now %> <br> <br>

<%= link_to 'Google', 'https://www.google.com/' %> <br> <br>

<%= link_to 'W3 Schools', 'http://www.w3schools.com/' %> <br>
<%= link_to 'W3 Schools HTML', 'http://www.w3schools.com//html/default.asp' %> <br>
<%= link_to 'W3 Schools CSS Reference', 'http://www.w3schools.com/cssref/default.asp' %> <br>
<%= link_to 'W3 Schools Javascript', 'http://www.w3schools.com/js/default.asp' %> <br>
<%= link_to 'W3 Schools JQuery', 'http://www.w3schools.com/jquery/default.asp' %> <br> <br>

<%= link_to 'Routes', '/static/pages/routes' %> <br>
<%= link_to 'Schema', '/static/pages/schema' %> <br> 
<%= link_to 'Missing', '/static/pages/missing' %> <br> <br>
