<p id="notice"><%= notice %></p>

<p>
  <b>Group name:</b>
  <%= @index.group_name %>
</p>

<p>
  <b>Create order:</b>
  <%= @index.create_order %>
</p>

<p>
  <b>Creation sql:</b>
  <%= @index.creation_sql %>
</p>


<%= link_to 'Edit', edit_index_path(@index) %> |
<%= link_to 'Back', indices_path %>
