<h1>Listing Reports</h1>

<div class="scf">
<table>
  <tr>
    <th></th>
    <% if is_admin_role then%>
      <th></th>
      <th></th>
    <% end %>
    <th>Report name</th>
    <th>User</th>
    <th>Private</th>
    <th>Report group</th>
    <th>Dims</th>
    <th>Rows</th>
    <th>Columns</th>
    <th>Facts</th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= link_to 'Show', report %></td>
    <% if is_admin_role then%>
      <td><%= link_to 'Edit', edit_report_path(report) %></td>
      <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
    <td><%= report.report_name %></td>
    <td><%= report.user_id %></td>
    <td><%= report.private %></td>
    <td><%= report.report_group %></td>
    <td><%= report.dims %></td>
    <td><%= report.rows %></td>
    <td><%= report.columns %></td>
    <td><%= report.facts %></td>
  </tr>
<% end %>
</table>
</div>

<br />

<%= link_to 'New Report', new_report_path %>
